anyio==3.6.2
appdirs==1.4.3
asks==2.3.6
async-exit-stack==1.0.1
async-generator==1.10
atomicwrites==1.4.1
attrs==23.2.0
aws-lambda-wsgi==0.0.6
aws-wsgi==0.2.7
beautifulsoup4==4.12.3
behave==1.2.6
blinker==1.7.0
bump2version==0.5.11
certifi==2024.2.2
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cssselect==1.2.0
docopt==0.6.2
docutils==0.14
et-xmlfile==1.1.0
exceptiongroup==1.2.0
execnet==2.0.2
fasteners==0.19
filelock==3.13.1
Flask==3.0.2
h11==0.14.0
idna==3.6
importlib-metadata==0.23
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.3
mario==0.0.154
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.2.1
mdurl==0.1.2
more-itertools==9.1.0
mypy==1.1.1
mypy-extensions==1.0.0
numpy==1.26.4
openpyxl==3.1.2
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.0
parameterized==0.9.0
parse==1.20.1
parse-type==0.6.2
parso==0.5.1
pdbp==1.5.0
platformdirs==4.2.0
pluggy==1.4.0
psutil==5.9.8
py==1.11.0
pycparser==2.21
pygame==2.5.2
pygame-ce==2.4.0
pygame-gui==0.6.9
Pygments==2.17.2
pynose==1.4.8
pyotp==2.9.0
pyreadline3==3.4.1
pyrsistent==0.14.11
PySocks==1.7.1
pytest==8.0.0
pytest-html==2.0.1
pytest-metadata==3.1.0
pytest-ordering==0.6
pytest-rerunfailures==13.0
pytest-xdist==3.5.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-i18n==0.3.9
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
rich==13.7.0
sbvirtualdisplay==1.3.0
selenium==4.17.2
seleniumbase==4.23.3
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
tabcompleter==1.3.0
toml==0.10.0
toolz==0.10.0
trio==0.24.0
trio-typing==0.2.0
trio-websocket==0.11.1
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.2.0
vboxapi==1.0
wcwidth==0.2.6
webdriver-manager==4.0.1
Werkzeug==3.0.1
windows-curses==2.3.1
wsproto==1.2.0
xmltodict==0.12.0
zipp==3.15.0
